@font-face {
    font-family: digital;
    src: url('../../Fonts/digital.ttf');
}


.clock {
    margin-bottom: 10px;
    color: red;
    font-family: digital;
    font-size: 1.3rem;
    padding: 0px 40px;
    color: #00a2ff;
    text-shadow: 1px 1px 8px rgb(0, 242, 255);
}

.clock_date {
    float: left;
    margin-right: 12px;
}

.clock_dot {
    color: red;
    text-shadow: 1px 1px 8px red;
    float: right;
}

@media (max-width:460px) {
    .clock {
        font-size: 1rem;
    }
}